[Unit]
Description=Galaxy Zerglings
After=network.target
After=time-sync.target

[Service]
UMask=022
Type=simple
User={{ galaxy_user.name }}
Group={{ galaxy_group }}
WorkingDirectory={{ galaxy_server_dir }}
TimeoutStartSec=10
ExecStart={{ galaxy_venv_dir }}/bin/uwsgi --ini {{ galaxy_config_dir }}/{{ galaxy_uwsgi_config_file_basename }} --stats 127.0.0.1:401%I {% if not galaxy_zergpool %}--socket 127.0.0.1:400%I{% endif %}
Environment=HOME={{ galaxy_root }} VIRTUAL_ENV={{ galaxy_venv_dir }} PATH={{ galaxy_venv_dir }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/sbin DOCUTILSCONFIG='' PYTHONPATH={{ galaxy_dynamic_job_rules_dir }}
MemoryLimit={{ galaxy_systemd_memory_limit }}G
Restart=always
MemoryAccounting=yes

[Install]
WantedBy=multi-user.target
